<h1>SIMWAMA</h1>


<!-- Modal window to add or update a product -->

<p-dialog [(visible)]="displayProductForm" [style]="{width: '40vw'}">
  <ng-template pTemplate="header">
    Product
  </ng-template>

 TODO ESTO ESTÁ POR HACER

  <p-footer>
    <p-button
      (click)="displayProductForm=false"
      label="Cancel"
      styleClass="p-button-text">
    </p-button>
    <p-button
    *ngIf="formButtonText === 'Update product'"
    (click)="cancel()" [label]="formButtonText" styleClass="p-button-text"></p-button>
  </p-footer>
</p-dialog>









<form
  [formGroup]="productForm"
  (ngSubmit)="formSubmit()">

  <label for="description">Description: </label>
  <input id="description" type="text" formControlName="description">

  <br>

  <label for="purchasePrice">Purchase price: </label>
  <input id="purchasePrice" type="number" formControlName="purchasePrice">

  <br>

  <label for="salePrice">Sale price: </label>
  <input id="salePrice" type="number" formControlName="salePrice">

  <br>

  <label for="stock">Stock: </label>
  <input id="stock" type="number" formControlName="stock">

  <br>

  <label for="picture">Picture: </label>
  <input id="picture" type="text" formControlName="picture">

  <br>

  <button type="submit">{{ formButtonText }}</button>&nbsp;
  
  <button
    *ngIf="formButtonText === 'Update product'"
    (click)="cancel()">
      Cancel
  </button>

</form>

{{ productForm.value | json }}

<hr>

<!-- Product list -->

<p-table [value]="(products | async)!" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Description</th>
      <th>Purchase price</th>
      <th>Sale price</th>
      <th>Stock</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-p>
    <tr>
      <td><img [src]="p.picture" width="60px"></td>
      <td>{{ p.description }}</td>
      <td>{{ p.purchasePrice }}</td>
      <td>{{ p.salePrice }}</td>
      <td>{{ p.stock }}</td>
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded"
          (click)="updateProductStep1(p.productId)"
          title="update product">
        </button>
      </td>
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded"
          (click)="productService.deleteProduct(p.productId)"
          title="delete product">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Add product button -->

<button pButton type="button" class="p-button-rounded p-button-success">
  <i class="add-product-icon pi pi-plus"></i>
</button>
