<h1>SIMWAMA</h1>

{{ productForm.value | json }}

<hr>

<!-- Product list -->

<p-table [value]="(products | async)!" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Description</th>
      <th>Purchase price</th>
      <th>Sale price</th>
      <th>Stock</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-p>
    <tr>
      <td><img [src]="p.picture" width="60px"></td>
      <td>{{ p.description }}</td>
      <td>{{ p.purchasePrice }}</td>
      <td>{{ p.salePrice }}</td>
      <td>{{ p.stock }}</td>
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded"
          (click)="updateProductStep1(p.productId)"
          title="update product">
        </button>
      </td>
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded"
          (click)="productService.deleteProduct(p.productId)"
          title="delete product">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Floating button for adding a product -->

<div class="add-button">
  <p-speedDial (click)="displayProductForm = true"></p-speedDial>
</div>

<!-- Modal window to add or update a product -->

<p-dialog [(visible)]="displayProductForm">

  <form
    [formGroup]="productForm"
    (ngSubmit)="formSubmit()">

    <ng-template pTemplate="header">
      Product
    </ng-template>

    <label for="description">Description: </label>
    <input pInputText id="description" type="text" formControlName="description">

    <br><br>

    <label for="purchasePrice">Purchase price: </label>
    <input pInputNumber id="purchasePrice" type="number" formControlName="purchasePrice">

    <br><br>

    <label for="salePrice">Sale price: </label>
    <input pInputNumber id="salePrice" type="number" formControlName="salePrice">

    <br><br>

    <label for="stock">Stock: </label>
    <input pInputNumber id="stock" type="number" formControlName="stock">

    <br><br>

    <label for="picture">Picture: </label>
    <input pInputText id="picture" type="text" formControlName="picture">

    <br><br>

    <p-footer>
      <p-button
        type="submit"
        [label]="formButtonText"
        styleClass="p-button-success">
      </p-button>

      &nbsp;

      <p-button
        (click)="cancel()"
        label="Cancel"
        styleClass="p-button-danger">
      </p-button>
    </p-footer>

</form>

</p-dialog>

<!--
<p-button
*ngIf="formButtonText === 'Update product'"
(click)="cancel()" [label]="formButtonText" styleClass="p-button-text">
</p-button>
-->