<div class="background">
  <iframe
    src="https://www.youtube.com/embed/wOv4zVSwMQk?controls=0&autoplay=1&mute=1&playlist=wOv4zVSwMQk&loop=1">
</iframe>
</div>

<div id="content">
  <h1>SIMWAMA</h1>
  <h2>Simplified Warehouse Management</h2>
  <button
    pButton
    (click)="displayRegister = true"
    label="Register">
  </button>
  <button
    pButton
    class="p-button-success"
    (click)="displayLogin = true"
    label="Login">
  </button>
</div>

<app-login-dialog [(displayLoginDialog)]="displayLogin"></app-login-dialog>